body {
  /*font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;*/
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 90%;
}
.Web_Nav_Bar {
  list-style-type: none;

  margin: auto;
  padding: 5%;
  width: 30%;

  text-align: center;

  margin-top: -4%;
  margin-left: 35%;

  display: grid;
  grid-template-rows: 50px 50px;
  grid-template-columns: 90px 90px 90px;
  column-gap: 3px;
  row-gap: 1px;

  font-size: 20px;
}

ul.decisionTable {
  list-style-type: none;

  width: 89%;

  margin: auto;

  display: grid;
  grid-template-rows: 100px 100px 100px 100px 100px;
  grid-template-columns: 600px 600px;

  padding: 1%;
}

.designTables {
  margin-top: -7%;
}

.wireFrames {
  margin-top: -5%;
}

h3.designSubHeading {
  text-align: center;
  font-weight: lighter;
  font-size: 30px;
}

li.decisionTableItem {
  border: 1px solid black;
  padding: 1%;
}

.contactContent {
  font-weight: lighter;
  margin-top: -5%;
  text-align: center;
}

.contactInfo {
  list-style-type: none;
  width: 48%;
  margin: auto;
  display: grid;
  grid-template-rows: 100px 50px;
  grid-template-columns: 200px 200px 200px;
  column-gap: 5px;
}

.contactInfoItem {
  border: 1px solid black;
  padding: 1%;
  font-weight: lighter;
  text-decoration: none;
}

a.contactInfoItem1 {
  text-decoration: none;
  color: black;
  padding: 1%;
}

li.contactInfoItem a.contactInfoItem1:hover {
  text-decoration: none;
  display: block;
  border-radius: 3px;
  background-color: #c4c3d0;
  text-decoration: none;
  color: black;
  padding: 1%;
}
img.contactImage {
  width: 50%;
  height: auto;
}

.designList {
  list-style-type: none;
  margin: auto;
  padding: 5%;
  width: 30%;

  display: grid;
  grid-template-rows: 50px 50px 50px 50px 50px;
  grid-template-columns: 90px;

  row-gap: 5px;

  margin-top: -5%;

  text-align: center;

  margin-left: 41%;
}

li.designListItem a {
  text-align: center;
  color: black;
  text-decoration: none;
  display: block;
  background-color: #c4c3d0;
  border-radius: 3px;
  width: 100%;
  margin: auto;
  padding: 5%;
  font-weight: lighter;
}

li.designListItem a:hover {
  text-decoration: none;
  color: #c4c3d0;
  font-weight: lighter;
  display: block;
  background-color: black;
  padding: 5%;
  border-radius: 3px;
}

.nav_grid_item {
  text-align: center;
}

li.nav_grid_item a {
  text-decoration: none;
  color: black;
  font-weight: lighter;
  display: block;
  background-color: #c4c3d0;
  padding: 5%;
  border-radius: 3px;
}

li.nav_grid_item a:hover {
  text-decoration: none;
  color: #c4c3d0;
  font-weight: lighter;
  display: block;
  background-color: black;
  padding: 5%;
  border-radius: 3px;
  cursor: pointer;
}

h1.title {
  margin: auto;
  text-align: center;
  font-weight: lighter;
  font-size: 50px;
}
h2.pageName {
  margin: auto;
  text-align: center;
  font-weight: lighter;
  font-size: 40px;
}

img.indexHands {
  width: 70%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}

.homeSubTitle {
  font-weight: lighter;
  font-size: 20px;
  text-align: center;
}

ol.blogList {
  margin: auto;
  margin-left: 30px;
  width: 99%;
  margin-top: -7%;
  padding: 3%;
}

li.blogItem {
  display: block;
  border-radius: 3px;
  background-color: #c4c3d0;
  list-style-type: none;
  width: 90%;
  height: 100px;
  padding: 0;
}

h3.blogItemTitle {
  font-weight: lighter;
  padding: 0%;
  font-size: 20px;
}

h4.blogDate {
  font-weight: normal;
  font-size: 15px;
  padding: 0%;
  margin-top: -2%;
}

h5.blogDescription {
  font-weight: normal;
  font-size: 15px;
  padding: 0%;
}
div.blogReadButton a.blogReadButton {
  /*float: right;*/

  width: 93px;

  font-weight: lighter;
  margin-right: 90%;
  margin-left: 89%;
  margin-top: -6%;
  padding: 1%;
  display: block;
  background-color: rgb(116, 114, 145);

  border-radius: 3px;
  text-decoration: none;
  color: white;

  height: 5px;

  text-align: center;

  font-size: 15px;
}

div.blogReadButton a.blogReadButton:hover {
  background-color: white;
  color: rgb(125, 125, 125);
}

a.blogReadButton {
  text-align: center;
}

div.readText {
  margin-top: -5%;
}

.aboutContent {
  display: block;
  width: 90%;
  margin: auto;
  margin-top: -10%;
  padding: 5%;
  margin-left: 10%;
}

h3.aboutSubtitle {
  font-weight: lighter;
  font-size: 40px;
}

section.BlogContent {
  display: block;
  margin: auto;
  width: 90%;
  height: auto;

  padding: 2%;

  margin-top: -8%;
}

h3.blogDatePosted {
  font-weight: lighter;
  font-size: 30px;
}

.blogText {
  font-size: 20px;
  font-weight: lighter;
}

ol.blogReferenceList {
  margin-top: -1%;
  list-style-type: none;
  font-weight: lighter;
}

li.blogReferenceItem {
  padding: 0.5%;
}

h4.referencesTitle {
  font-weight: lighter;
  font-size: 20px;
}

a.blogReturn {
  text-decoration: none;
  font-weight: lighter;
  color: black;
  display: block;
  background-color: #c4c3d0;
  width: 15%;

  text-align: center;

  border-radius: 3px;
}

a.blogReturn:hover {
  font-weight: lighter;
  text-decoration: none;
  color: #c4c3d0;
  display: block;
  background-color: black;
  width: 15%;

  text-align: center;

  border-radius: 3px;
}

a.referenceAccess {
  text-decoration: none;

  color: black;
  display: block;
  background-color: #c4c3d0;
  width: 13%;
  text-align: center;
  border-radius: 3px;
}

a.referenceAccess:hover {
  text-decoration: none;
  color: #c4c3d0;
  display: block;
  background-color: black;
  width: 13%;
  text-align: center;
  border-radius: 3px;
}

.blogReferenceList {
  font-size: 18px;
}

h4.blogSubtitle {
  font-weight: lighter;
}

h3.artTitle {
  font-weight: lighter;
  text-align: center;
  margin-top: -5%;
}

h4.artBookTitle {
  font-weight: lighter;
  text-align: center;
  font-size: 50px;
  color: white;
  position: absolute;
  display: block;
  width: 98%;
  margin-top: 5%;
  background-color: black;
  padding: 1%;
  z-index: 999;
}

img.adventureImg {
  width: 60%;
  height: auto;
  margin-left: 10%;
  transition: transform 0.2s;
}

img.adventureImg:hover {
  transform: scale(3);
}

img.monsterImg {
  width: 50%;
  margin-left: 20%;
  transition: transform 0.2s;
}

img.monsterImg:hover {
  transform: scale(2);
}

img.icyImg {
  width: 90%;
  height: auto;
  transition: transform 0.2s;
}

img.icyImg:hover {
  transform: scale(2.3);
}

img.fFlowerShopImg {
  width: 57%;
  height: auto;
  margin-left: 20%;
  transition: transform 0.2s;
}

img.fFlowerShopImg:hover {
  transform: scale(2);
}

img.bFlowerShopImg {
  width: 62%;
  margin-left: 20%;
  height: auto;
  transition: transform 0.2s;
}

img.bFlowerShopImg:hover {
  transform: scale(2);
}

img.cWitchImg {
  width: 65%;
  height: auto;
  margin-left: 20%;
  transition: transform 0.2s;
}
img.cWitchImg:hover {
  transform: scale(1.5);
}

img.fCityWitch {
  width: 65%;
  height: auto;
  margin-left: 20%;
  transition: transform 0.2s;
}

img.fCityWitch:hover {
  transform: scale(1.5);
}

img.cthingsImg {
  width: 50%;
  height: auto;
  margin-left: 20%;
  transition: transform 0.2s;
}

img.cthingsImg:hover {
  transform: scale(2.5);
}

img.skyWitchImg {
  width: 80%;
  height: auto;
  margin-left: 15%;
  transition: transform 0.2s;
}

img.skyWitchImg:hover {
  transform: scale(2);
}

img.stairWitchImg {
  width: 50%;
  height: auto;
  margin-left: 20%;
  transition: transform 0.2s;
}

img.stairWitchImg:hover {
  transform: scale(1.5);
}

img.morningWitchesImg {
  width: 65%;
  height: auto;
  margin-left: 20%;
  transition: transform 0.2s;
}

img.morningWitchesImg:hover {
  transform: scale(1.5);
}

img.nightWitchesImg {
  width: 65%;
  height: auto;
  margin-left: 20%;
  transition: transform 0.2s;
}

img.nightWitchesImg:hover {
  transform: scale(1.5);
}

img.animeRetroImg {
  width: 65%;
  height: auto;
  margin-left: 20%;
  transition: transform 0.2s;
}

img.animeRetroImg:hover {
  transform: scale(1.5);
}

img.cherryGirlImg {
  width: 80%;
  height: auto;
  margin-left: 10%;
  transition: transform 0.2s;
}

img.cherryGirlImg:hover {
  transform: scale(1.5);
}

img.benchtWitchImg {
  width: 45%;
  height: auto;
  margin-left: 20%;
  transition: transform 0.2s;
}

img.benchtWitchImg:hover {
  transform: scale(3);
}

img.flyingWitchImg {
  width: 45%;
  height: auto;
  margin-left: 20%;
  transition: transform 0.2s;
}

img.flyingWitchImg:hover {
  transform: scale(3);
}

img.colorfulPortraitImg {
  width: 80%;
  height: auto;
  margin-left: 10%;
  transition: transform 0.2s;
}
img.colorfulPortraitImg:hover {
  transform: scale(1.5);
}

img.fieldImg {
  width: 100%;
  height: auto;
  transition: transform 0.2s;
  margin-top: 2%;
}

img.fieldImg:hover {
  transform: scale(1.5);
}

img.flowImg {
  width: 70%;
  height: auto;
  margin-left: 15%;
  transition: transform 0.2s;
}

img.flowImg:hover {
  transform: scale(1.5);
}

img.handsImg {
  width: 65%;
  height: auto;
  margin-left: 20%;
  transition: transform 0.2s;
}

img.handsImg:hover {
  transform: scale(1.5);
}

img.sAndMoonImg {
  width: 65%;
  height: auto;
  margin-left: 20%;
  transition: transform 0.2s;
}

img.sAndMoonImg:hover {
  transform: scale(1.5);
}

img.nightWaterImg {
  width: 50%;
  height: auto;
  margin-left: 20%;
  transition: transform 0.2s;
}

img.nightWaterImg:hover {
  transform: scale(1.5);
}

img.rainicornImg {
  width: 40%;
  height: auto;
  margin-left: 30%;
  transition: transform 0.2s;
}

img.rainicornImg:hover {
  margin-top: -35%;
  transform: scale(2);
}

img.ponyoImg {
  width: 45%;
  height: auto;
  margin-left: 30%;
  transition: transform 0.2s;
}

img.ponyoImg:hover {
  margin-top: -30%;
  transform: scale(2);
}

img.fAndJakeImg {
  width: 100%;
  height: auto;
  transition: transform 0.2s;
}

img.fAndJakeImg:hover {
  transform: scale(2);
}

img.gokuImg {
  width: 100%;
  height: auto;
  transition: transform 0.2s;
}

img.gokuImg:hover {
  transform: scale(2);
}

img.linkImg {
  width: 80%;
  height: auto;
  margin-left: 10%;
  transition: transform 0.2s;
}

img.linkImg:hover {
  transform: scale(2);
}

img.archerImg {
  width: 50%;
  height: auto;
  margin-left: 30%;
  transition: transform 0.2s;
}

img.archerImg:hover {
  transform: scale(2);
}

#portfolio {
  width: 1300px;
  height: 400px;
  margin: auto;
}
#portfolio .turn-page {
  background-color: #c4c3d0;
}

img.artBookCover {
  width: 100%;
  height: auto;
  margin-top: 18%;
  transition: transform 0.2s;
}

img.artBookCover:hover {
  transform: scale(3);
}

img.toolsImage {
  width: 100%;
  height: auto;
  transition: transform 0.2s;
}

img.toolsImage:hover {
  transform: scale(2);
}
.artBook1 {
  position: relative;
  text-align: center;
}

.artBook2 {
  padding: 2%;
}

h5.artSectionTitle {
  font-weight: lighter;
  font-size: 30px;
  margin-top: 2%;
  margin-left: 1%;
}

body.bArt {
  overflow: hidden;
}

article.artBookDescription {
  display: block;
  width: 90%;
  font-weight: lighter;
  font-size: 20px;
  padding: 2%;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

div.table_of_contents_artBook {
  margin-top: -40%;
  width: 20%;
  margin-left: 2%;
}

.artContents {
  font-weight: lighter;
  font-size: 30px;
}

ul.art_list_of_contents {
  list-style-type: none;
  margin-top: -15%;

  margin-left: -20%;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px 200px 200px 200px;
  grid-template-rows: 20px;
  column-gap: 0px;
}

/* li.artIndex {
  padding: 1%;
  display: block;
  background-color: antiquewhite;
  width: 50%;
  border-radius: 2px;
} */

button.artButton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  /* cursor: pointer; */
  outline: inherit;

  display: block;
  background-color: #c4c3d0;
  width: 60%;
  height: 100%;
  border-radius: 2px;
}

button.artButton:hover {
  background-color: black;
  color: #c4c3d0;
}

button.artButton1 {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  /* cursor: pointer; */
  outline: inherit;

  display: block;
  background-color: #c4c3d0;
  width: 70%;
  border-radius: 2px;
}

button.artButton1:hover {
  background-color: black;
  color: #c4c3d0;
}

ul.bookNavButtons {
  list-style-type: none;
  display: grid;
  grid-template-columns: 50px 50px;
  grid-template-rows: 20px;
  margin-top: -4%;
  margin-left: 43%;
}
