body {
  /*font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;*/
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 90%;
}
.Web_Nav_Bar {
  list-style-type: none;

  margin: auto;
  padding: 5%;
  width: 22%;

  margin-top: -5%;

  display: grid;
  grid-template-rows: 50px 50px;
  grid-template-columns: 90px 90px 90px;
  column-gap: 10px;
  row-gap: 5px;

  font-size: 20px;
}

.nav_grid_item {
  text-align: center;
  font: black;
}

li.nav_grid_item a {
  text-decoration: none;
  color: black;
  font-weight: lighter;
  display: block;
  background-color: #c4c3d0;
  padding: 5%;
  border-radius: 3px;
}

li.nav_grid_item a:hover {
  text-decoration: none;
  color: #c4c3d0;
  font-weight: lighter;
  display: block;
  background-color: black;
  padding: 5%;
  border-radius: 3px;
}

h1.title {
  margin: auto;
  text-align: center;
  font-weight: lighter;
  font-size: 50px;
}
h2.pageName {
  margin: auto;
  text-align: center;
  font-weight: lighter;
  font-size: 40px;
}

img.indexHands {
  width: 70%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}

.homeSubTitle {
  font-weight: lighter;
  font-size: 20px;
  text-align: center;
}
